$title-color-primary: hsl(220, 48%, 24%);
$color-secondary: hsl(220, 68%, 54%);
$firs-color-ligthen: hsl(220, 68%, 97%);
$color-primary-text: #000;
$color-secondary-text: #fff;
$font-primary: 'Outfit', sans-serif;
$background-button-active: hsl(220, 68%, 54%);
$transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
$si: #bfedf7;
