<div class="hero-carousel container">
  <button class="carousels__btn carousels__btn--left">
    <i class="carousels__i ri-arrow-left-s-line ri-3x"></i>
  </button>
  <button class="carousels__btn carousels__btn--right">
    <i class="carousels__i ri-arrow-right-s-line ri-3x"></i>
  </button>
  <div class="carousels">
    <section class="carousels__section">
      <img
        src="./images/heroSlider/RotomartilloBoschDobleMandril-1.png"
        alt="Rotomartillo Bosch Doble Mandril Accesorios"
        class="carousels__img"
      />
      <span class="carousels__span">Rotomartillo doble mandril</span>
    </section>
    <section class="carousels__section">
      <img
        src="./images/heroSlider/RotomartilloBoschDobleMandril-2.png"
        alt="Rotomartillo Bosch Doble Mandril adelante"
        class="carousels__img"
      />
      <span class="carousels__span">Rotomartillo doble mandril</span>
    </section>
    <section class="carousels__section">
      <img
        src="./images/heroSlider/RotomartilloBoschDobleMandril-3.png"
        alt="Rotomartillo Bosch Doble Mandril atras"
        class="carousels__img"
      />
      <span class="carousels__span">Rotomartillo doble mandril</span>
    </section>
    <section class="carousels__section">
      <img
        src="./images/heroSlider/DemoledorBosch-1.png"
        alt="Demoledor Bosch"
        class="carousels__img"
      />
      <span class="carousels__span">Demoledor Bosch</span>
    </section>
    <section class="carousels__section">
      <img
        src="./images/heroSlider/DemoledorBosch-2.png"
        alt="Demoledor Bosch"
        class="carousels__img"
      />
      <span class="carousels__span">Demoledor Bosch</span>
    </section>
  </div>
</div>
